body {
  font-family: "Rethink Sans", sans-serif;
}

time {
  font-size: 0.9em;
}

div.card {
  transition: box-shadow 0.2s ease-in;
}

div.card:hover:not(.loading) {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  z-index: 99;
}

.card-body h2 {
  margin-bottom: 0;
}

.card-body h2 a {
  text-decoration: none;
}

article.detail-page p {
  font-size: 18px;
}

@media (max-width: 767.98px) {
  article.detail-page .detail-action {
    left: 0;
    backdrop-filter: blur(10px);
  }
}

.btn-sm svg {
  vertical-align: bottom !important;
}

form [contenteditable] {
  overflow: auto;
  height: 300px;
  resize: vertical;
}

form [contenteditable].is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

form [contenteditable]:empty::before {
  color: var(--bs-secondary-color);
}

form .id[contenteditable]:empty::before {
  content: "Isi catatan...";
}

form .en[contenteditable]:empty::before {
  content: "Note content...";
}

form [contenteditable]:hover {
  cursor: text;
}

form [contenteditable][disabled] {
  background-color: var(--bs-secondary-bg);
}

form [contenteditable][disabled]:hover {
  cursor: default;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.login {
  max-width: 330px;
  padding: 1rem;
}

.form-floating .form-control ~ label {
  color: var(--bs-body-color);
}
