body {
  font-family: "Rethink Sans", sans-serif;
}

ul.nav .nav-link {
  color: rgba(0, 0, 0, 0.65);
}

ul.nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

time {
  font-size: 0.9em;
}

.card-body h2 {
  margin-bottom: 0;
}

.card-body h2 a {
  text-decoration: none;
}

.card-body h2 a:hover {
  text-decoration: underline;
}

article.detail-page p {
  font-size: 18px;
}

main svg {
  vertical-align: bottom !important;
}

form [data-placeholder] {
  overflow: hidden;
  height: 100px;
  resize: vertical;
}

form [data-placeholder]:empty::before {
  color: rgba(33, 37, 41, 0.75);
  content: attr(data-placeholder);
}
